@font-face {
  font-family: 'Alternate Gothic LT No3';
  src: url('https://raw.githubusercontent.com/dgabets/test/master/AlternateGothicLT-No3.eot');
  src: url('https://raw.githubusercontent.com/dgabets/test/master/AlternateGothicLT-No3.eot?#iefix') format('embedded-opentype'), url('https://raw.githubusercontent.com/dgabets/test/master/AlternateGothicLT-No3.woff') format('woff'), url('https://raw.githubusercontent.com/dgabets/test/master/AlternateGothicLT-No3.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
